body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

.card {
  /* margin-top: 0rem; */
}

.card:hover {
  background-color: #f5f5f3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid #d3d4d4;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  /* transition-duration: 500ms; */
}

.card:hover > .card-content {
  gap: 1.5rem;
  /* transition-duration: 500ms; */
}
.card:hover > .card-content > .img-content {
  background-color: #dde9f6;
  /* transition-duration: 500ms; */
}
.card:hover > .card-content > .img-content > svg > g > path {
  fill: #2b70d7;
  /* transition-duration: 500ms; */
}

.card:hover > .card-content > .title-content > .title {
  padding-left: 0.5rem;
  color: #2b70d7;
}
.card:hover > .card-content > .title-content > .chevron-right {
  padding-left: 0.5rem;
}
.card:hover > .card-content > .title-content > .chevron-right > svg {
  stroke: #2b70d7;
}
.card:hover > .card-content > .title-content > .chevron-right > svg > g > path {
  stroke: #2b70d7;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 100%;
  max-width: 49.1875rem;
  line-height: 110%;
}

.pg-container {
  padding: 7vh 9vw 7vh 9vw;
}

.cards {
  position: absolute;
  top: 47vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  /* height: 19rem; */
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  background-color: white;
  margin: 0.75rem 0;
  padding: 0.75rem 0;
}

.card2 {
  margin-top: -5rem;
}

.card4 {
  margin-bottom: -5rem;
}

.centerial-text {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 16.125rem;
  margin: -3rem auto;
}

.steel {
  stroke: #4e5051;
}
.svg {
  height: 770px;
  width: 845px;
  z-index: -1;
}

path {
  transition: stroke-dashoffset 3000ms ease;
}

/* mobile responsive */
@media only screen and (max-width: 1000px) {
  .pg-container {
    padding: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .cards-container {
    flex-direction: column;
    margin: 0;
    padding: 1rem 0;
    gap: 2rem;
  }
  .card2 {
    margin-top: 0;
  }
  .card4 {
    margin-bottom: 0;
  }
  .centerial-text {
    display: none;
  }
  .cards {
    position: relative;
    top: 0;
  }
  .svg-container {
    display: none;
  }
}
