body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  width: 100%;
  max-width: 49.1875rem;
  line-height: 110%;
}

.pg-container {
  padding: 7vh 9vw 7vh 9vw;
}

.cards {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  height: 290px;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  background-color: white;
  margin: 0.75rem 0;
  padding: 0.75rem 0;
}

.card2 {
  margin-top: -5rem;
}

.card4 {
  margin-bottom: -5rem;
}

.centerial-text {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 16.125rem;
  margin: -3rem auto;
}

.steel {
  stroke: #4e5051;
}
.svg {
  height: 770px;
  width: 845px;
  z-index: -1;
}

path {
  transition: stroke-dashoffset 3000ms ease;
}

/* mobile responsive */
@media only screen and (max-width: 1000px) {
  .pg-container {
    padding: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .cards{
    top: auto;
  }
  .cards-container {
    flex-direction: column;
    margin: 0;
    padding: 1rem 0;
    gap: 2rem;
    height: auto;
  }
  .card2 {
    margin-top: 0;
  }
  .card4 {
    margin-bottom: 0;
  }
  .centerial-text {
    display: none;
  }
  .cards {
    position: relative;
  }
  .svg-container {
    display: none;
  }
}
